# Dossiers à ignorer
.git
.gitignore
.vscode
.idea
node_modules
vendor
coverage
cypress/videos
cypress/screenshots
cypress/downloads
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env*
!.env.example
.dockerignore
.gitattributes
.phpunit.*
.php-cs-fixer.cache
*.sqlite
*.sqlite-journal
*.sublime-*
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
*#
.htaccess
.htpasswd
nginx.conf
php.ini
phpunit.xml
phpunit.xml.dist
composer.lock
package-lock.json
yarn.lock
cypress/fixtures
cypress/plugins
cypress/support
cypress.json
cypress.env.json
cypress.config.js
cypress.config.ts
cypress/
!cypress/e2e/
!cypress/**/*.ts
!cypress/**/*.js
!cypress/**/*.json
